body {
    font-family: "Inter", "Segoe UI", sans-serif;
    margin: 0;
    color: #fff;
    background: linear-gradient(-45deg, #ffffff, #ffffff, #ffffff, #ffffff);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
}